h1{
    text-align: right;
}
body{
    background-color: lightblue;
  
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
container h2{
    text-align: right;

}
p{
    text-align: right;
}